// Basic
html {
  font-size: 10px;
}
body {
	color: $main-black;
	@include reg;
	overflow-x: hidden;
}
section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
p {
	font-size: 1.4rem;
	
}
iframe {
	border: none;
}
button:focus {
	outline: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.btn {
  	display: block;
  	width: 30rem;
  	background-color: $btn;
  	color: $white;
  	padding: 2rem;
  	margin: 2rem auto;
  	border-radius: 5px;
  	font-size: 1.8rem;
  	text-align: center;
  	&:hover {
  		background-color: darken($btn, 10%);
  		color: $white;
  	}
  	&:focus {
  		color: $white;
  	}
  }


.section-header {
	font-size: 2rem;
	@include bold;
	margin: 0;
	margin-bottom: 1.4rem;
	text-align: center;
}
*{
transition: all 0.2s;
}

a:visited,
a:hover, 
a:active,
a:focus {
text-decoration: none;
}

// Header
.header {
  height: 100vh;
  min-height: 60rem;
  padding-top: 2rem;

  color: $white;
  background: url("../images/header-bg-mobile.jpg") no-repeat center center;
  background-size: cover;

  &-logo {
    width: 30px;
    margin-right: 1rem;

    transform: rotate(180deg);
  }
  &-text {
    text-align: center;
    p {
    	font-size: 1.6rem;
    }
    span {
    	display: block;
    }
  }
}
.nav {
  &-link {
    position: relative;

    display: block;

    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 10px;

  }
  &-line {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 20px;
    height: 2px;
    margin-left: -10px;

    background-color: $white;
  }
  &-line:before {
    position: absolute;

    display: block;

    width: 20px;
    height: 2px;

    content: "";
    transform: translatey(-4px);

    background-color: $white;
  }
    &-line:after {
    position: absolute;

    display: block;

    width: 20px;
    height: 2px;

    content: "";
    transform: translatey(4px);

    background-color: $white;
  }
}
.main-logo {
padding-top: 10rem;
img {
	width: 90%;
	max-width: 30rem;
}
}
h1 {
	font-size: 2.9rem;
	@include light;
	text-transform: uppercase;
	span {
		display: block;
	}
}


// About
.about {
  &-text {
    text-align: center;
  }
  &-features {
    text-align: center;
    img {
      width: 40%;
      min-width: 10rem;
      margin-top: 5rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  &-slider {
  	text-align: center;
  	img {
  		width: 100%;
  		max-width: 40rem;
  	}
  }
}

// Video
section#video {
	background-color: $bg-light;
}
.video {
  &-text {
    text-align: center;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
      opacity: .75;
      display: block;
    }
  }
  &-iframe {
  	margin: 0 auto;
  	width: 95%;
  	min-width: 30rem;
  	display: block;
  	height: 30rem;
  }
}
.arrow {
	background: $white;
	border: none;
	border-radius: 4px;
	width: 3rem;
	height: 3rem;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 5;
	&-left {

	}
	&-right {
		transform: translatex(4rem);
		img {
			transform: rotate(180deg);
		}
	}
	img {
		width: .5rem;
	}
}
 // List


