// Basic
html {
  font-size: 10px;
}
body {
  overflow-x: hidden;

  color: $main-black;

  @include reg;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
p {
  font-size: 1.4rem;
}
iframe {
  border: none;
}
button:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.btn {
  display: block;

  width: 30rem;
  margin: 2rem auto;
  padding: 2rem;

  font-size: 1.8rem;

  text-align: center;

  color: $white;
  border-radius: 5px;
  background-color: $btn;
  &:hover {
    color: $white;
    background-color: darken($btn, 10%);
  }
  &:focus {
    color: $white;
  }
}

.section-header {
  margin: 0;
  margin-bottom: 1.4rem;

  font-size: 2rem;

  text-align: center;

  @include bold;
}
.small-text {
  display: block;

  margin: 0;
  margin-top: -1rem;
  margin-bottom: 3rem;

  font-size: 1.4rem;

  text-align: center;

  opacity: 0.75;
}
* {
  transition: all 0.2s;
}

a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

// Header
.header {
  height: 100vh;
  min-height: 60rem;
  padding-top: 2rem;

  color: $white;
  background: url("../images/header-bg-mobile.jpg") no-repeat center center;
  background-size: cover;
  &-logo {
    width: 30px;
    margin-right: 1rem;

    transform: rotate(180deg);
  }
  &-text {
    text-align: center;
    p {
      font-size: 1.6rem;
    }
    span {
      display: block;
    }
  }
}
.nav {
  &-link {
    position: relative;

    display: block;

    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
  }
  &-line {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 20px;
    height: 2px;
    margin-left: -10px;

    background-color: $white;
  }
  &-line:before {
    position: absolute;

    display: block;

    width: 20px;
    height: 2px;

    content: "";
    transform: translatey(-4px);

    background-color: $white;
  }
  &-line:after {
    position: absolute;

    display: block;

    width: 20px;
    height: 2px;

    content: "";
    transform: translatey(4px);

    background-color: $white;
  }
}
.main-logo {
  padding-top: 10rem;
  img {
    width: 90%;
    max-width: 30rem;
  }
}
h1 {
  font-size: 2.9rem;

  text-transform: uppercase;

  @include light;
  span {
    display: block;
  }
}


// About
.about {
  &-text {
    text-align: center;
  }
  &-features {
    text-align: center;
    img {
      width: 40%;
      min-width: 10rem;
      margin-top: 5rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  &-slider {
    text-align: center;
    img {
      width: 100%;
      max-width: 40rem;
    }
  }
}

// Video
section#video {
  background-color: $bg-light;
}
.video {
  &-text {
    text-align: center;
    h2 {
      margin: 0;
    }
    p {
      display: block;

      margin: 0;

      opacity: 0.75;
    }
  }
  &-iframe {
    display: block;

    width: 95%;
    min-width: 30rem;
    height: 30rem;
    margin: 0 auto;
  }
}
.arrow {
  position: absolute;
  z-index: 5;
  bottom: 1rem;
  left: 1rem;

  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 4px;
  background: $white;
  &-right {
    transform: translatex(4rem);
    img {
      transform: rotate(180deg);
    }
  }
  img {
    width: 0.5rem;
  }
}
// FAQ
.faq {
  &-link {
    display: block;

    margin-top: 2rem;
    padding: 0;

    font-size: 1.8rem;
    @include reg;

    text-align: left;

    color: $main-black;
    border: none;
    background: none;
    &:hover {
      color: $btn;
    }
  }
}
.well {
  margin-top: 1.6rem;
  padding-left: 2rem;
}
.arrow-down {
  width: 0.5rem;
  margin-right: 1rem;

  transform: rotate(-180deg);
&__active {
  transform: rotate(-90deg);
}
}
