// Colors

$main-black: rgb(26, 26, 26);
$white: rgb(255, 255, 255);
$btn: rgb(0, 163, 212);
$bg-light: #f3f3f3;

// Variables
@mixin reg {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin bold {
font-family: 'Museo Sans Cyrl 700';
}
@mixin light {
font-family: 'Museo Sans Cyrl 100';
}

// media
$mobile-l: ("screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape)");
$mobile-p: ("screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait)");
$tablet: ("screen and (min-width: 768px) and (max-width: 991px)");
$desktop: ("screen and (min-width: 992px) and (max-width: 1199px)");
$desktop-full: ("screen and (min-width: 1200px)");